
{% extends  '::base.html.twig' %} 
{% block title %}
Tagarelas - Meu Perfil - Editar
{% endblock %}
{% block content %}
		<section id="conteudo-principal">
			<div class="container">'

				<div id="conteudo-cabecalho">

					<div id="conteudo-titulo">
                        <h1>
                            <small>
								<i class="material-icons md-36">&#xE8B8;</i> Configurações da Conta
					 		</small>
                        </h1>
                    </div> <!-- conteudo-titulo -->

					<div id="conteudo-menu" class="clearfix">
					
						<div class="scroll-area">
					
							<button class="btn-link btn-control-scroll btn prevPage">
								<i class="material-icons">&#xE408;</i>
							</button>
							
							<button class="btn-link btn-control-scroll btn nextPage">
								<i class="material-icons">&#xE409;</i>
							</button>
						
							<div class="frame crazy" id="conteudo-menu-scroll">
							
								<ul class="nav nav-sublinhado slide">
									<li>
										<a href="#">Dados Pessoais</a>
									</li>
									<li>
										<a href="{{ path('profile_changepassword')}}">Senha</a>
									</li>
									<li  class="ativo">
										<a href="{{ path('profile_cancelprofile')}}">Desativação</a>
									</li>
								</ul> <!-- slide -->
								
							</div> <!-- frame --> 
							
						</div> <!-- scroll-area -->
						
					</div> <!-- conteudo-menu --> 
					
                </div> <!-- conteudo-cabecalho --> 
				
				
			<form class="row" id='cancelUserForm' method="POST" action="{{ path('profile_canceledprofile') }}"  enctype="multipart/form-data">
				
				    <input type='hidden' id='editProfile' >
					<div class="col-xs-12 col-sm-4 form-group">
						<label>Apelido</label>
						<input id="shortName" type="text" readonly class="form-control">
					</div>
					
					<div class="col-xs-12 col-sm-4 form-group">
						<label>Nome Completo</label>
						<input id="name" type="text" readonly class="form-control">
					</div>
					
					<div class="col-xs-12 col-sm-4 form-group">
						<label>Email</label>
						<input id="email" type="email" readonly class="form-control">
					</div>
					
					<div class="col-xs-12 form-group">
						<button type="submit" id="submitCancelProfile" class="clearfix btn btn-success">Sim, desejo excluir minha conta</button>
					</div>
				</form>
			</div> <!-- container --> 
		</section>

{% endblock %}
