
{% extends  '::base.html.twig' %} 
{% block title %}
Tagarelas - Meu Perfil - Editar
{% endblock %}
{% block content %}
		<section id="conteudo-principal">
			<div class="container">'

				<div id="conteudo-cabecalho">

					<div id="conteudo-titulo">
                        <h1>
                            <small>
								<i class="material-icons md-36">&#xE8B8;</i> Configurações da Conta
					 		</small>
                        </h1>
                    </div> <!-- conteudo-titulo -->

					<div id="conteudo-menu" class="clearfix">
					
						<div class="scroll-area">
					
							<button class="btn-link btn-control-scroll btn prevPage">
								<i class="material-icons">&#xE408;</i>
							</button>
							
							<button class="btn-link btn-control-scroll btn nextPage">
								<i class="material-icons">&#xE409;</i>
							</button>
						
							<div class="frame crazy" id="conteudo-menu-scroll">
							
								<ul class="nav nav-sublinhado slide">
									<li>
										<a href="{{ path('profile_edit')}}">Dados Pessoais</a>
									</li>
									<li  class="ativo">
										<a href="#">Senha</a>
									</li>
									<li>
										<a href="{{ path('profile_cancelprofile')}}">Desativação</a>
									</li>
								</ul> <!-- slide -->
								
							</div> <!-- frame --> 
							
						</div> <!-- scroll-area -->
						
					</div> <!-- conteudo-menu --> 
					
                </div> <!-- conteudo-cabecalho --> 
				
				
			<form class="row" id='changePasswordForm' method="POST" action="{{ path('profile_savechangedpassword') }}"  enctype="multipart/form-data">
				    <input id="shortName" type="hidden" readonly class="form-control" value="{{ app.session.get('username')}}">
					
					<div class="col-xs-12 col-sm-4 form-group">
						<label>Senha Atual</label>
						<input id="oldPassword" type="password" class="form-control" value="">
					</div>
					
					<div class="col-xs-12 col-sm-4 form-group">
						<label>Nova Senha</label>
						<input id="password" type="password" class="form-control" value="">
					</div>
					<div class="col-xs-12 col-sm-4 form-group">
						<label>Confirme a nova senha</label>
						<input id="confirmPassword" type="password" class="form-control" value="">
					</div>					
					<div class="col-xs-12 form-group">
						<button type="submit" id="submitChangePasswordProfile" class="clearfix btn btn-success">Salvar</button>
					</div>
				</form>
			</div> <!-- container --> 
		</section>

{% endblock %}
