
{% extends  '::base.html.twig' %} 
{% block title %}
Tagarelas - Criar Nova Conta
{% endblock %}
{% block content %}
		   <section id="area-destaque">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 text-center">
						<img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/img2_med.png')}}" class="img-responsive center-block img-ilustrativa">
						<h1>Batepapo Sério</h1>
					</div>
					<div class="col-xs-12 col-sm-6 text-center" id="cadastro" >
						<hr>
						<h3>Cadastrar</h3>
						<button type="button" class="btn btn-facebook">
							<span class="icone-social"><img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/facebook.icon.png')}}"></span>Cadastre-se com o Facebook
						</button>
						<br><br>
						<p>ou preencha os seus dados</p>
						<form>
							<div class="col-xs-12 col-lg-6 form-group">
								<input type="text" class="form-control" required placeholder="Apelido"  id= 'shortName'>
							</div>
							
							<div class="col-xs-12 col-lg-6 form-group">
								<input type="text" class="form-control" required placeholder="Nome completo"  id= 'name'>
							</div>
							
							<div class="col-xs-12 form-group" >
								<input type="email" class="form-control" id= 'email' placeholder="Email">
							</div>
							<div class="col-xs-12 form-group">
								<input type="email" class="form-control" id= 'confirmEmail' placeholder="Confirmar Email">
							</div>
							<div class="col-xs-12 col-lg-6 form-group">
								<input type="password" class="form-control" id= 'password'  placeholder="Senha">
							</div>
							<div class="col-xs-12 col-lg-6 form-group">
								<input type="password" class="form-control"  id= 'confirmPassword' placeholder="Confirmar Senha">
							</div>
							<div class="col-xs-12 form-group checkbox">
								<label>
								  <input type="checkbox" id= "agree">
								  Li e concordo com os <a href="#">Termos de Uso</a> e <a href="#">Política de Privacidade</a>.
								</label>
							</div>
							<button type="button" class="btn btn-default" id="newUser">Cadastrar</button>
						</form>
					</div>
				</div>
			</div>
		</section>
		
{% endblock %}
