
{% extends  '::base.html.twig' %} 
{% block title %}
Tagarelas - Minhas Sessões
{% endblock %}
{% block content %}
		<section id="conteudo-principal">
			<div class="container">
			
	            <!--  Pending Group -->
			    <div class="row divisao-de-area">
					 <div class="col-xs-12" id="pendingGroup">
					 </div> <!-- col !-->
			    </div> <!-- row !-->
				
			    <!--  Active Group -->
				<div class="row divisao-de-area">
					<div class="col-xs-12" id="activeGroup">
					</div> <!-- col !-->
				</div> <!-- row !-->
				
				<!--  Schedule Session -->
				<div class="row divisao-de-area">
					<div class="col-xs-12" id="scheduledSession">
					</div> <!-- col !-->
				</div> <!-- row !-->
				
				<!--  Active Session -->
				<div class="row divisao-de-area">
					<div class="col-xs-12" id="activeSession">
					</div> <!-- col !-->
				</div> <!-- row !-->
					
				<!--  Pending Session -->
				<div class="row divisao-de-area">
					<div class="col-xs-12" id="pendingSession">
					</div> <!-- col !-->
				</div> <!-- row !-->		
				
				<!--  Public Session -->
				<div class="row">
					<div class="col-xs-12" id="publicSession">
					</div> <!-- col !-->
				</div> <!-- row !-->
				
			</div> <!-- container !-->
		</section> 
		
		<section id="pre-footer">
			<div class="container" id="lastActivities">
				<h2>
					<small>Últimas Atividades Da Rede</small>
				</h2>
				
				<div class="scroll-area">
							
					<button class="btn-link btn-control-scroll btn prevPage">
						<i class="material-icons">&#xE408;</i>
					</button>
					
					<button class="btn-link btn-control-scroll btn nextPage">
						<i class="material-icons">&#xE409;</i>
					</button>
				
					<div class="frame crazy" id="ultimas-atividades-na-rede">
					
						<div class="slide">
							<div id="activityMessages">
							</div>
						</div> <!-- slide --> 
					</div> <!-- frame --> 
				</div> <!-- scroll-area -->			
			</div> <!-- container pre-footer -->
		</section>
{% endblock %}
		

