
{% extends  '::base.html.twig' %} 
{% block title %}
Tagarelas - Minhas Sessões
{% endblock %}
{% block content %}
		<section id="conteudo-principal">
			<div class="container">
				<div class="row divisao-de-area">
					<div class="col-xs-12">
						<h1>
							<small>
								Grupos que mais frequento <span class="opcoes-feed"><small><a href="#">Ver Todos</a> | <button class="btn btn-success btn-xs">Criar Grupo</button></small><span>
							</small>
						</h1>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="caixa-de-apresentacao">
								<a href="#">
									<img src="img/ic_group_white_48dp.png" class="pull-left">
									Nome do Grupo 1
								</a>
								<div class="info-adicional">
									10 Membros
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="caixa-de-apresentacao">
								<a href="#">
									<img src="img/ic_group_white_48dp.png" class="pull-left">
									Nome do Grupo 1
								</a>
								<div class="info-adicional">
									10 Membros
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="caixa-de-apresentacao">
								<a href="#">
									<img src="img/ic_group_white_48dp.png" class="pull-left">
									Nome do Grupo 1
								</a>
								<div class="info-adicional">
									10 Membros
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="caixa-de-apresentacao">
								<a href="#">
									<img src="img/ic_group_white_48dp.png" class="pull-left">
									Nome do Grupo 1
								</a>
								<div class="info-adicional">
									10 Membros
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="caixa-de-apresentacao">
								<a href="#">
									<img src="img/ic_group_white_48dp.png" class="pull-left">
									Nome do Grupo 1
								</a>
								<div class="info-adicional">
									10 Membros
								</div>
							</div>
						</div>
					</div> <!-- col !-->
				</div> <!-- row !-->
				
				<div class="row divisao-de-area">
					<div class="col-xs-12">
						<h1>
							<small>
								Sessões agendadas <span class="opcoes-feed"><small><a href="#">Ver todas</a></small></span>
							</small>
						</h1>
						<div class="col-xs-12 col-sm-4 col-md-3">
							<div class="thumbnail clearfix">
								<a href="#" class="titulo-da-sessao titulo-sessao-agendada">
									Título da Sessão
								</a>
								<div class="caption">
									<div class="data-e-hora-da-sessao">
										<i class="material-icons">&#xE192;</i> 10 de Setembro de 2016 às 15:00
									</div>
									<div class="sessao-info-adicional">	
										<small>
											<a href="#">
												<img src="" width="18px" height="18px" style="background-color: #ccc"> Nome do Grupo
											</a>
										</small>
									</div> <!-- sessao-info-adicional -->
									<div class="link-de-acoes-da-sessao clearfix">
										<div class="text-uppercase pull-left">
											<a href="#">Ler Mais</a>
										</div>
										<div class="text-uppercase pull-right">
											<a href="#">Participar</a>
										</div>
									</div>
								</div> <!-- caption !-->
							</div> <!-- thumbnail !-->
						</div> <!-- col !-->
					</div> <!-- col !-->
				</div> <!-- row !-->
				
				<div class="row divisao-de-area">
					<div class="col-xs-12">
						<h1>
							<small>
								Sessões que irei participar <span class="opcoes-feed"><small><a href="#">Ver todas</a> | <button class="btn btn-success btn-xs">Criar Sessão</button></small></span>
							</small>
						</h1>
						<div class="col-xs-12 col-sm-4 col-md-3">
							<div class="thumbnail clearfix">
								<a href="#" class="titulo-da-sessao titulo-sessao-que-irei-participar">
									Título da Sessão
								</a>
								<div class="caption">
									<div class="data-e-hora-da-sessao">
										<i class="material-icons">&#xE192;</i> 10 de Setembro de 2016 às 15:00
									</div>
									<div class="sessao-info-adicional">	
										<small>
											<a href="#">
												<img src="" width="18px" height="18px" style="background-color: #ccc"> Nome do Grupo
											</a>
										</small>
									</div> <!-- sessao-info-adicional -->
									<div class="link-de-acoes-da-sessao clearfix">
										<div class="text-uppercase pull-left">
											<a href="#">Ler Mais</a>
										</div>
									</div>
								</div> <!-- caption !-->
							</div> <!-- thumbnail !-->
						</div> <!-- col !-->
					</div> <!-- col !-->
				</div> <!-- row !-->	
				
				<div class="row divisao-de-area">
					<div class="col-xs-12">
						<h1>
							<small>
								Sessões que não confirmei presença <span class="opcoes-feed"><small><a href="#">Ver todas</a></small></span>
							</small>
						</h1>
						<div class="col-xs-12 col-sm-4 col-md-3">
							<div class="thumbnail clearfix">
								<a href="#" class="titulo-da-sessao titulo-sessao-que-nao-confirmei-presenca">
									Título da Sessão
								</a>
								<div class="caption">
									<div class="data-e-hora-da-sessao">
										<i class="material-icons">&#xE192;</i> 10 de Setembro de 2016 às 15:00
									</div>
									<div class="sessao-info-adicional">	
										<small>
											<a href="#">
												<img src="" width="18px" height="18px" style="background-color: #ccc"> Nome do Grupo
											</a>
										</small>
									</div> <!-- sessao-info-adicional -->
									<div class="link-de-acoes-da-sessao clearfix">
										<div class="text-uppercase pull-left">
											<a href="#">Ler Mais</a>
										</div>
									</div>
								</div> <!-- caption !-->
							</div> <!-- thumbnail !-->
						</div> <!-- col !-->
						<div class="col-xs-12 col-sm-4 col-md-3">
							<div class="thumbnail clearfix">
								<a href="#" class="titulo-da-sessao titulo-sessao-que-nao-confirmei-presenca">
									Título da Sessão
								</a>
								<div class="caption">
									<div class="data-e-hora-da-sessao">
										<i class="material-icons">&#xE192;</i> 10 de Setembro de 2016 às 15:00
									</div>
									<div class="sessao-info-adicional">	
										<small>
											<a href="#">
												<img src="" width="18px" height="18px" style="background-color: #ccc"> Nome do Grupo
											</a>
										</small>
									</div> <!-- sessao-info-adicional -->
									<div class="link-de-acoes-da-sessao clearfix">
										<div class="text-uppercase pull-left">
											<a href="#">Ler Mais</a>
										</div>
									</div>
								</div> <!-- caption !-->
							</div> <!-- thumbnail !-->
						</div> <!-- col !-->
						<div class="col-xs-12 col-sm-4 col-md-3">
							<div class="thumbnail clearfix">
								<a href="#" class="titulo-da-sessao titulo-sessao-que-nao-confirmei-presenca">
									Título da Sessão
								</a>
								<div class="caption">
									<div class="data-e-hora-da-sessao">
										<i class="material-icons">&#xE192;</i> 10 de Setembro de 2016 às 15:00
									</div>
									<div class="sessao-info-adicional">	
										<small>
											<a href="#">
												<img src="" width="18px" height="18px" style="background-color: #ccc"> Nome do Grupo
											</a>
										</small>
									</div> <!-- sessao-info-adicional -->
									<div class="link-de-acoes-da-sessao clearfix">
										<div class="text-uppercase pull-left">
											<a href="#">Ler Mais</a>
										</div>
									</div>
								</div> <!-- caption !-->
							</div> <!-- thumbnail !-->
						</div> <!-- col !-->
						<div class="col-xs-12 col-sm-4 col-md-3">
							<div class="thumbnail clearfix">
								<a href="#" class="titulo-da-sessao titulo-sessao-que-nao-confirmei-presenca">
									Título da Sessão
								</a>
								<div class="caption">
									<div class="data-e-hora-da-sessao">
										<i class="material-icons">&#xE192;</i> 10 de Setembro de 2016 às 15:00
									</div>
									<div class="sessao-info-adicional">	
										<small>
											<a href="#">
												<img src="" width="18px" height="18px" style="background-color: #ccc"> Nome do Grupo
											</a>
										</small>
									</div> <!-- sessao-info-adicional -->
									<div class="link-de-acoes-da-sessao clearfix">
										<div class="text-uppercase pull-left">
											<a href="#">Ler Mais</a>
										</div>
									</div>
								</div> <!-- caption !-->
							</div> <!-- thumbnail !-->
						</div> <!-- col !-->
					</div> <!-- col !-->
				</div> <!-- row !-->		
				
				<div class="row">
					<div class="col-xs-12">
						<h1>
							<small>
								Sessões públicas <span class="opcoes-feed"><small><a href="#">Ver todas</a></small></span>
							</small>
						</h1>
						<div class="col-xs-12 col-sm-4 col-md-3">
							<div class="thumbnail clearfix">
								<a href="#" class="titulo-da-sessao titulo-sessao-publica">
									Título da Sessão
								</a>
								<div class="caption">
									<div class="data-e-hora-da-sessao">
										<i class="material-icons">&#xE192;</i> 10 de Setembro de 2016 às 15:00
									</div>
									<div class="sessao-info-adicional">	
										<small>
											<a href="#">
												<img src="" width="18px" height="18px" style="background-color: #ccc"> Nome do Grupo
											</a>
										</small>
									</div> <!-- sessao-info-adicional -->
									<div class="link-de-acoes-da-sessao clearfix">
										<div class="text-uppercase pull-left">
											<a href="#">Ler Mais</a>
										</div>
										<div class="text-uppercase pull-right">
											<a href="#">Participar</a>
										</div>
									</div>
								</div> <!-- caption !-->
							</div> <!-- thumbnail !-->
						</div> <!-- col !-->
					</div> <!-- col !-->
				</div> <!-- row !-->
			</div> <!-- container !-->
		</section> 
		<section id="pre-footer">
			<div class="container">
				<h2>
					<small>Últimas Atividades Da Rede</small>
				</h2>
				
				<div class="scroll-area">
							
					<button class="btn-link btn-control-scroll btn prevPage">
						<i class="material-icons">&#xE408;</i>
					</button>
					
					<button class="btn-link btn-control-scroll btn nextPage">
						<i class="material-icons">&#xE409;</i>
					</button>
				
					<div class="frame crazy" id="ultimas-atividades-na-rede">
					
						<div class="slide">

							<div class="panel panel-default atividade-recente-da-rede">
								<div class="panel-heading">
									<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Novo Membro
								</div>
								<div class="panel-body">
									<p>
										<a href="">
											<img src="img/default-avatar.gif" class="avatar-img avatar-pequeno"> Lucianna
										</a>
									</p>
									Cadastrou-se há 2 dias
								</div>
							</div>
							
							<div class="panel panel-default atividade-recente-da-rede">
								<div class="panel-heading">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Nova Sessão
								</div>
								<div class="panel-body">
									<p>
										<a href="">
											Nome da Sessão
										</a>
									</p>
									Criado por: <a href="">Lucianna</a> há 1 dia
								</div>
							</div>
							
						</div> <!-- slide --> 
						
					</div> <!-- frame --> 
					
				</div> <!-- scroll-area -->			
				
			</div> <!-- container -->
		</section>
{% endblock %}
		

