
{% extends  '::base.html.twig' %} 
{% block title %}
Tagarelas - Equipe
{% endblock %}
{% block content %}
		   <section id="area-destaque">
			<div class="container">
				<div class="row">
					
					Somos um grupo de pesquisa do Programa de Pós-Graduação em Informática da Universidade do Estado do Rio de Janeiro (PPGI - Unirio).
					
					Nossa equipe é composta de:
					
					- Dr. Mariano Pimentel (orientador, mentor, conselhereiro, mestre dos magos);
					- Fernando Mezini;
					- Lúcia Castro;
					- Marcelo Estruc;
					- Vovô Ricardo Rodriguez;
					- Ronaldo Arruda;
					- Sara Gomes;
					- Vanessa Martins;
					
				</div>
			</div>
		</section>
		
{% endblock %}
