
{% extends  '::base.html.twig' %} 
{% block title %}
Tagarelas - Equipe
{% endblock %}
{% block content %}
		   <section id="area-destaque">
			<div class="container">
				<div class="row">
					
					Somos um grupo de pesquisa do Programa de Pós-Graduação em Informática da Universidade do Estado do Rio de Janeiro (PPGI - Unirio).
					<br><br>
					Nossa equipe é composta de:
					<br><br>
					- Dr. Mariano Pimentel (orientador, mentor, conselhereiro, mestre dos magos);<br>
					- Fernando Mezini;<br>
					- Lúcia Castro;<br>
					- Marcelo Estruc;<br>
					- Vovô Ricardo Rodriguez;<br>
					- Ronaldo Arruda;<br>
					- Sara Gomes;<br>
					- Vanessa Martins;
					
				</div>
			</div>
		</section>
		
{% endblock %}
