{% extends  '::base.html.twig' %} 
{% block title %}
Tagarelas - Registro de novo Usuário
{% endblock %}
{% block content %}
 <h4>Oi{{ name }}!</h4>
<p> Você foi registrado com sucesso.</p>
<p> Para acessar a Rede Social Tagarelas, clique: <a href="tagarelas.uniriotec.br">...</a>.
{% endblock %}