
{% extends  '::base.html.twig' %} 
{% block title %}
Tagarelas - Criar Sessão
{% endblock %}
{% block content %}
		<section id="conteudo-principal">
			<div class="container" id="pageSession">
            	<div id="conteudo-cabecalho">
                	<div id="conteudo-titulo">
                        <h1>
                            <small>
								<i class="material-icons md-48">&#xE0B7;</i> Criar Sessão
					 		</small>
                        </h1>
                    </div> <!-- conteudo-titulo !-->
                </div> <!-- conteudo-cabecalho !--> 
 
 				<form class="row">

					<div class="col-xs-12 col-sm-6"> 
					
						<div class="form-group">
							<label>Nome da Sessão</label>
							<input type="text" id="sessionName"  style='width:90% !important'>
				    		<span id="imgSessionName" 
				    		      style= 'width:10% !important; valign: left !important; align: left; !important'></span>
					
						</div>
						
						<div class="form-group">
							<label>Data e Hora</label>
							<input id='datetimeSession'  class="form-control" type="text" data-field="datetime" readonly>
							<div id="dtBox"></div>
						</div>
						<div class="form-group">
							<label>Duração da Sessão (em minutos)</label>
							<input id='durationSession'  class="form-control" type="number" step="5"  min="0" size=50%>
						</div>
						<div class="form-group">
							<label>Assunto a ser discutido</label>
							<textarea id="description" class="form-control textarea-block-resize"></textarea>
						</div>
						
						<div class="form-group">
							<label>Visibilidade</label>
							<br>
							<label class="radio-inline">
								<input type="radio" id="publicVisibility" name="visibility" value="PUBLICO"> Público
							</label>
							<label class="radio-inline">
								<input type="radio" id='privateVisibility' name="visibility" value="PRIVADO"> Privado
							</label>
						</div>
								
						<div class="form-group">
							<label>Convidar Grupos</label>
							<input class="magicsearch"   style='width:100% !important'   
							 		   id="sessionGroups" placeholder="Adicionar / Procurar grupos...">
						</div>
				
					</div>
					
					<div class="col-xs-12 col-sm-6"> 
						<div class="form-group">
							<label for="pesquisarContatos">Convidar Amigos</label>
							<p>Convide amigos individualmente ou que não fazem parte de algum grupo</p>
							 <input class="magicsearch"   style='width:100% !important'   
							 		   id="allMembers" placeholder="Adicionar / Procurar membros...">
						</div>
					</div>

                    
                     <div class="col-xs-12 col-sm-6 panel panel-default">
                            <div class="panel-heading clearfix">
                                 <h3 class="panel-title pull-left">Opções da Sessão</h3>
                            </div>
                    		<input type="checkbox" name="roomconfig_publicroom" id="roomconfig_publicroom" 
                    			   value="true" id="public" checked>
                    		<label for="public">Listar sessão no Feed de Notícias</label> <BR/>
           					<input type="checkbox" name="roomconfig_moderatedroom" id="roomconfig_moderatedroom"
           						   value="true" id="moderated" checked>
                    		<label for="moderated">Tornar a sessão moderada</label> <BR/>
          					<input type="checkbox" name="roomconfig_membersonly" id="roomconfig_membersonly" 
          						   value="true" id="membersonly" checked>
                    		<label for="membersOnly">Tornar a sessão apenas para os convidados</label> <BR/>
           					<input type="checkbox" name="roomconfig_allowinvites"  id="roomconfig_allowinvites" 
           						   value="true" id="allowinvites" >
                    		<label for="allowinvites">Permitir que ocupantes convidem outros</label> <BR/>
           					<input type="checkbox" name="roomconfig_changesubject" id="roomconfig_changesubject" 
           						   value="true" id="changesubject" >
                    		<label for="changesubject">Permitir que ocupantes mudem o assunto</label> <BR/>
            				<input type="checkbox" name="roomconfig_reservednick"  
            					   value="true" id="reservednick" checked>
                    		<label for="reservednick">Apenas logar com um apelido registrado</label> <BR/>
            				<input type="checkbox" name="roomconfig_canchangenick" 
            					   value="true" id="canchangenick">
                    		<label for="canchangenick">Permite que ocupantes alterem seus apelidos</label> <BR/>
          					<input type="checkbox" name="roomconfig_registration" 
          						   value="true" id="registration" >
                    		<label for="registration">Permite que outros usuarios se registrem nesta sala</label> <BR/>
            				<input type="checkbox" name="roomconfig_enablelogging" 
            					   value="true" id="enablelogging" checked>
                    		<label for="enablelogging">Registrar Conversações da Sessão</label><BR/>
                    </div>
	 				<p> &nbsp; <br/></p>
	 					
					 <div class="col-xs-12 col-sm-6">
        					<div class="form-group">
        							<p><b>Total de Participantes Convidados:<span id='totalParticipantes'>0</span></b></p>
        							<p>
        								Todos os membros do(s) grupo(s):    <span id='totalMembrosGrupos'>0</span>
        								<br>
        								Amigo(s) convidado(s):              <span id="totalDeMembros">0</span>
        							</p>
        					</div>
					</div>					
										
					<div class="col-xs-12 form-group">
						<button type="button" id='insertNewSession'  
										class="clearfix btn btn-success">Salvar</button>
					</div>
				</form>
			</div>
		</section>
		
{% endblock %}
