
{% extends  '::base.html.twig' %} 
{% block title %}
Tagarelas - Login
{% endblock %}
{% block script %}
<script>
$("#facebook").click(function() {
	window.open( "{{ app.request.httpHost ~ asset('connect/facebook')}}" );	
	return true;
})

</script>
{% endblock %}
{% block content %}
			<section id="area-destaque">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 text-center">
						<img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/img2_med.png')}}" class="img-responsive center-block img-ilustrativa">
						<h1>Batepapo Sério</h1>
					</div>
					<div id="login" class="col-xs-12 col-sm-6 text-center">
						<hr>
						<h3>Entrar</h3>
						<button type="button" id="facebook" class="btn btn-facebook">
							<span class="icone-social"><img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/facebook.icon.png')}}"></span> Entre com o Facebook
						</button>
						<br><br>
						<p>ou</p>
						<form>
							<div class="form-group">
								<input type="email" class="form-control" id='email' placeholder="Email">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id= 'password' placeholder="Senha">
								<a href="#" class="small">Esqueceu a Senha?</a>
							</div>
								<button type="button" id = 'loginUserTagarelas' class="btn btn-default">Entrar</button>
						</form>
						<p>
							Não possui um login? <a href="{{ path('newLogin') }}">Cadastre-se</a>
						</p>
					</div>
				</div>
			</div>
		</section>
{% endblock %}
