
{% extends  '::base.html.twig' %} 
{% block title %}
Tagarelas - Login
{% endblock %}
{% block content %}
			<section id="area-destaque">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 text-center">
						<img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/img2_med.png')}}" class="img-responsive center-block img-ilustrativa">
						<h1>Batepapo Sério</h1>
					</div>
					<div id="login" class="col-xs-12 col-sm-6 text-center">
						<hr>
						<h3>Entrar</h3>
						<button type="button" class="btn btn-facebook">
							<span class="icone-social"><img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('img/facebook.icon.png')}}"></span> Entre com o Facebook
						</button>
						<br><br>
						<p>ou</p>
						<form>
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Email">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Senha">
								<a href="#" class="small">Esqueceu a Senha?</a>
							</div>
								<button type="submit" class="btn btn-default">Entrar</button>
						</form>
						<p>
							Não possui um login? <a href="cadastro.html">Cadastre-se</a>
						</p>
					</div>
				</div>
			</div>
		</section>
{% endblock %}
