{% extends  '::base.html.twig' %} 
{% block title %}
Tagarelas - Sobre
{% endblock %}
{% block content %}


   <section id="area-destaque">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center" id="cadastro" >

				<p> 				
				O projeto Tagarelas está sendo desenvolvido no contexto de pesquisa de pós-graduação, 
				investigando o uso de bate-papo aplicado na educação online.
				</p>
				
				<br/><br/>
				
				<p>
				Se você se interessa por esse tipo de pesquisa, venha trabalhar 
				conosco, através do programa de mestrado e doutorado em sistemas de informação.			
				</p>

				<br/>
							
				<p>Mais informações sobre o programa de pós-graduação do PPGI UNIRIO clique <a href="http://www2.uniriotec.br/ppgi" target="_blank">aqui</a>.</p>
	
			</div>
		</div>
	</div>
	</section>

{% endblock %}