
{% extends  '::base.html.twig' %} 
{% block title %}
Tagarelas - Criar Grupo
{% endblock %}
{% block content %}
		<section id="conteudo-principal">
			<div class="container">
            	<div id="conteudo-cabecalho">
                	<div id="conteudo-titulo">
                        <h1>
                            <small>
								<i class="material-icons md-48">&#xE7FB;</i> Criar Grupo
					 		</small>
                        </h1>
                    </div> <!-- conteudo-titulo !-->
                </div> <!-- conteudo-cabecalho !--> 
				<form class="row">
					<div class="col-xs-12 col-sm-6"> 
						<div class="form-group">
							<label>Nome do Grupo</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group">
							<label>Foto</label>
							<br>
							<div class="text-center">
								<img src="" style="background-color:#ccc" width="200px" height="200px">
								<br>
								<br>
								<div class="btn btn-default btn-file">
									<span><i class="material-icons">&#xE410;</i> Enviar Foto</span>
									<input type="file" accept="image/*">
								</div>
								<br>
								<br>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6"> 
						<div class="form-group">
							<label for="pesquisarContatos">Adicionar Membros</label>
							<input type="text" class="form-control" placeholder="Nome da pessoa" id="pesquisar-contatos" name="pesquisar-contatos">
						</div>
						<div class="pull-right">
								<span id="total-de-membros">0</span> <span id="mensagem-total-de-membros"> Membro adicionado</span>
							</div>
						<div class="previa-membros-adicionados col-xs-12">
							<ul>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 form-group">
						<button type="submit" class="clearfix btn btn-success">Salvar</button>
					</div>
				</form>
			</div>
		</section>
{% endblock %}