
{% extends  '::base.html.twig' %} 
{% block title %}
Tagarelas - Criar Grupo
{% endblock %}
{% block content %}
		<section id="conteudo-principal">
			<div class="container" id="pageNeedsAllUsers">
			
			    <input type='hidden' id="loadAllUsersPath" value="{{path('profile_loadallusers')}}">
			    <input type='hidden' id="checkGroupNamePath" value="{{path('group_checkGroupName')}}">
			    <input type='hidden' id="saveNewGroupPath" value="{{path('group_savenewgroup')}}">
				<input type='hidden' id='totalDeMembrosHidden'       value=0 />
				<input type='hidden' id='totalMembrosGruposHidden'   value=0 />
            
            	<div id="conteudo-cabecalho">
                	<div id="conteudo-titulo">
                        <h1>
                            <small>
								<i class="material-icons md-48">&#xE7FB;</i> Criar Grupo
					 		</small>
                        </h1>
                    </div> <!-- conteudo-titulo !-->
                </div> <!-- conteudo-cabecalho !--> 
				<form class="row">
					<div class="col-xs-12 col-sm-6"> 
						<div class="form-group" >
							  <input type="text" id= "groupName" style='width:90% !important'  placeholder= "Nome do grupo"/>
 						      <span id="imgGroupName" 
 						      style='width:10% !important; valign: left !important; align: left; !important'></span>
						</div>
						
						<div class="form-group">
							<label>Foto</label>
							<br>
							<div class="text-center">
								<img src="" style="background-color:#ccc" width="200px" height="200px">
								<br>
								<br>
								<div class="btn btn-default btn-file">
									<span><i class="material-icons">&#xE410;</i> Enviar Foto</span>
									<input type="file" accept="image/*">
								</div>
								<br>
								<br>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6"> 
						<div class="form-group"  >
							 <input class="magicsearch"   style='width:100% !important'   
							 		   id="allMembers" placeholder="Adicionar / Procurar membros...">
						</div>
						<div class="pull-right">
								<span id="totalDeMembros">0</span> <span id="mensagem-total-de-membros"> Membro(s) adicionado(s)</span>
							</div>
						<div class="previa-membros-adicionados col-xs-12">
							<ul>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 form-group">
						<button type="button" id="insertNewGroup" class="clearfix btn btn-success">Salvar</button>
					</div>
				   </div>
				</form>
			</div>
		</section>
{% endblock %}