{% extends  '::base.html.twig' %} 
{% block title %}
Tagarelas - Candy Chat
{% endblock %}
{% block script %}
<script>
$(function (){
	Candy.init('http://tagarelas.uniriotec.br:7070/http-bind/', {
		core: {
			debug: true,
			autojoin: ['comunicatec@conference.tagarelas.uniriotec.br']
		},
		view: { assets: '{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('js/vendor/candy/res') }}' }
	});
	Candy.Core.connect('ricardo2@gmail.com', '123456')	
	//Candy.Core.connect();
})

</script>
{% endblock %}

{% block content %}
<div id="candy"></div>
{% endblock %}